#===================================================================================================
# Database
#---------------------------------------------------------------------------------------------------

db/data/

#===================================================================================================
# Environment Variables
#---------------------------------------------------------------------------------------------------

.env
.env.*

!.env.example

#===================================================================================================
# Logs
#---------------------------------------------------------------------------------------------------

logs/

*.log
*.log*

#===================================================================================================
# MacOS
#---------------------------------------------------------------------------------------------------

.AppleDouble
.DS_Store
.DS_Store?
.LSOverride

#===================================================================================================
# Package Management
#---------------------------------------------------------------------------------------------------

**/.yarn/
**/node_modules/
**/pnpify/

.pnp.*
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

#===================================================================================================
# Tests
#---------------------------------------------------------------------------------------------------

**/coverage/

*.lcov

#===================================================================================================
# VSCode
#---------------------------------------------------------------------------------------------------

**/.vscode/*

!**/.vscode/extensions.json
!**/.vscode/settings.json.example
