{
	//==============================================================================================
	// CSS
	//----------------------------------------------------------------------------------------------

	"cssvar.files": [
		"src/**/*.css.ts"
	],

	//==============================================================================================
	// Deno
	//----------------------------------------------------------------------------------------------

	"deno.enable": true,
	"deno.lint": true,
	"deno.unstable": true,

	"[typescript][typescriptreact][javascript][javascriptreact][json][jsonc]": {
		"editor.defaultFormatter": "denoland.vscode-deno",
		"editor.formatOnSave": true
	},

	"editor.codeActionsOnSave": {
		"source.fixAll": "always",
		"source.organizeImports": "always"
	},

	//==============================================================================================
	// Dockerfile
	//----------------------------------------------------------------------------------------------

	"[dockerfile]": {
		"editor.formatOnSave": true
	},

	//==============================================================================================
	// SQLite
	//----------------------------------------------------------------------------------------------

	"SQL-Formatter-VSCode.dialect": "sqlite",
	"SQL-Formatter-VSCode.paramTypes": {
		"custom": [
			{ "regex": "\\$\\{\\w+\\}" }
		]
	},

	"workbench.editorAssociations": {
		"*.db": "sqlite3-editor.editor"
	},

	//==============================================================================================
	// TOML
	//----------------------------------------------------------------------------------------------

	"[toml]": {
		"editor.defaultFormatter": "tamasfe.even-better-toml",
		"editor.formatOnSave": true
	}
}
